<!DOCTYPE HTML>
<html> 
  <head>
  <link rel="stylesheet" type="text/css" href="<%= url('/style.css') %>" />
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@300&display=swap" rel="stylesheet">


  </head>

<h2>Make a new addition to your art collection here!</h2>

<form method="POST" action="/collections">
    Artist: <input name="artist" type="artist"><br>
    <br>
    Title: <input name="title" type="title"><br>
    <br>
    Year Made: <input name="year" type="year"><br>
    <br>
    Movement: <input name="movement" type="movement"><br>
    <br>
    Location: <input name="location" type="location"><br>
    <br>
    Medium: <input name="medium" type="medium"><br>
    <br>
    <br>
    <input type="submit" value="Create Collection"><br>
  
</form>




