<h1>Log In</h1>
<form method="post" action="/login">
    Email: <input name="email" type="email">
    Password: <input name="password" type="password">
    <input type="submit" value="login">
    <br>
    <br>
    <br>
    <br>
    <br>
    Don't have an account? Sign up now! <br>
    <br>
    <button class = "buttons" > <a href="/signup">Sign up</a></button>
</form>
