<h2>Sign Up</h2>
<form method="post" action="/signup">
    Email: <input name="email" type="email">
    Password: <input name="password" type="password">
    <input type="submit" value="signup">
</form>