<h2>Home </h2>
<p>We hope you find this website helpful!
  To get started, please either:
  <ul>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
</p>

<p>Afterwards, feel free to browse all:
  <ul>
    <li><a href="/collections/new">Add  a New Collection<a></li>
    <li><a href="/collections/index">All Collections<a></li>
  </ul>
</p>