<h2>Home </h2>
<h3>We hope you find this website helpful!</h3>
  <p>To get started, please <a href="/signup">Sign up.</a><br>
  <br>
  <p>Then <a href="/login">Log In</a> to start your art collection!<p>
<p>Afterwards, feel free to browse all:
<div>
    <a href="/collections/new">Add a New Collection<a>
    <br>
    <a href="/collections/index">All Collections<a>
  </div>
</p>