<h2>At Gallery/Space the art world is yours.<h2>
<h3>Track your favorite pieces of art, and log future works for your viewing pleasure. </h3>

<div class="card">
<div class="container">
  <p>To get started <a href="/signup">Sign up </a>to start tracking your favorite works of art<br>
  </div>
  <br>
  <p>Then <a href="/login">Log In</a> to start your art collection!<p>
<p>Afterwards, feel free to browse all:
<div>
    <a href="/collections/new">Add a New Collection<a>
    <br>
    <a href="/collections/index">All Collections<a>
  </div>
</p>