<h1> <%=current_user.email%>'s Gallery  </h1>

<% if logged_in?  %>
  <h4 >Logged in user:  <%= current_user.email %></h4>
<% end %>
<% @collections.each do |c|  %> 
  <a href="/collections/<%=c.id%>"><%=c.title %></a> <br>
<% end %>