<!DOCTYPE HTML>
<html> 
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="utf-8" />

    <title>Gallery/Space</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@300&display=swap');
    </style>

  </head>
  <body>
    <div class="nav">
      <a href="/collections">All Collections</a> |
      <a href="/collections/new">Add a New Collection</a> |
      <a href="/signup"> Sign Up</a> |
      <a href="/login">Log In</a> |
      <a href="/logout">Log Out</a>
    </div>
    <br>
    <h1 class="welcome">Gallery/Space</h1>
    <h2 class="emphasis"><em>The virtual home for art collectors and enthusiasts </em></h2>
    <%= yield %>
  </body>
</html>

