<!DOCTYPE HTML>
<html> 
  <head>
  <link rel="stylesheet" type="text/css" href="stylesheet/style.css">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@300&display=swap" rel="stylesheet">

    
  
  </head>
  
  <body>
  <h1 class="title">Gallery/Space</h1>
    <div class="nav">
      <a class="nav-link" href="/collections">All Collections</a> 
      <a class="nav-link" href="/collections/new">Add </a> 
      <a class="nav-link" href="/signup"> Sign Up</a> 
      <a class="nav-link" href="/login">Log In</a> 
      <a class="nav-link" href="/logout">Log Out</a>
    </div>
    <br>
    
    <h2 class="emphasis"><em>The virtual home for art collectors and enthusiasts </em></h2>
    <%= yield %>
  </body>
</html>

