<!DOCTYPE HTML>
<html> 
  <head>
  <link rel="stylesheet.css" href="public/stylesheets/stylesheet.css">


    <meta charset="utf-8" />

    <title>GalleryProject</title>

  </head>
  <body>
    <div>
      <a href="/collections">All Collections</a> |
      <a href="/collections/new">Add a New Collection</a> |
      <a href="/signup"> Sign Up</a> |
      <a href="/login">Log In</a> |
      <a href="/logout">Log Out</a>
    </div>
    <h1> Welcome to the GalleryProject!</h1>
    <h2><em>The virtual home for art collectors and enthusiasts </em></h2>
    <%= yield %>
  </body>
</html>

